*{
    margin: 0; padding: 0; box-sizing: border-box;
}

:root{
    --RED : #f39494;
    --GREEN : #77f377a1;
    --ORANGE : #ffa600b6;
    --BLUE : #a200ff88;
    
}

.alerts{
    width:60%;
    margin: 10px auto;
    height: auto;
    padding: 8px;
    border-radius: 5px;
    flex-wrap: wrap;
  


}



h2{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerts-success{
    
    background-color: var(--GREEN);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: green;
    border: 1px solid forestgreen;
    font-weight: 600;
    font-size: 18px;
    



}
.alerts-info{
   
    background-color: var(--BLUE);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(150, 0, 117);
    border: 1px solid rgb(255, 79, 255);
    font-weight: 600;
    font-size: 18px;

}
.alerts-Warning{
    background-color: var(--ORANGE);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 123, 0);
    border: 1px solid orange;
    font-weight: 600;
    font-size: 18px;

}
.alerts-Danges{

    background-color: var(--RED);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 4, 4);
    border: 1px solid red;
    font-weight: 600;
    font-size: 18px;
}
/*buttons css*/
.btns{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 5px;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    width: 60%;
    margin: 10px auto;
}
.btn {
    background-color: orange;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 600;
    color: white;

}
.btn--info{
    background-color: orangered;
    color: white;
}
.btn--success{
    background-color: var(--BLUE);
    color: white;
}
.btn--warning{
    background-color: var(--GREEN);
    color: white;
}
.btn--danger{
    background-color: var(--RED);
    color: white;
    
}
/*button varient*/
.btn--info1{
    background-color: orangered;
    color: white;
    border-radius: 27px;
}
.btn--success1{
   background-color: whitesmoke;
    color: rgb(44, 44, 44);
}
.btn--warning1{
    background-color: wheat;
    color: rgb(88, 88, 88);
}
.btn--danger1{
    background-color: var(--RED);
    color: white;
    border: 1px solid red;

    
}
.btn--primary1{
    background-color: wheat;
    border: 2px solid orange;
}
/*float btn*/
.btn--float{
    background-color: rgba(255, 230, 0, 0.664);
    border-radius: 27px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: rgb(36, 35, 36);
    border: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    box-shadow: 2px 2px 3px #999;
    
}