*{
    margin: 0; padding: 0; box-sizing: border-box;
}

:root{
    --RED : #f85d5d;
    --GREEN : #77f377;
    --ORANGE : #ffad15ee;
    --BLUE : #a200ff;
    
}

.alerts{
    width:auto;
    height: auto;
    padding: 8px;
    border-radius: 5px;
  


}
h2{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerts-success{
   
    background-color: var(--GREEN);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: green;
    border: 1px solid forestgreen;
    font-weight: 600;
    font-size: 18px;



}
.alerts-info{
   
    background-color: var(--BLUE);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(150, 0, 117);
    border: 1px solid rgb(255, 79, 255);
    font-weight: 600;
    font-size: 18px;

}
.alerts-Warning{
    background-color: var(--ORANGE);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 123, 0);
    border: 1px solid orange;
    font-weight: 600;
    font-size: 18px;

}
.alerts-Danges{

    background-color: var(--RED);
    margin: 4px;
    height: 2rem;
    align-content: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 4, 4);
    border: 1px solid red;
    font-weight: 600;
    font-size: 18px;
}
